:root {
  /* COLORS */
  --color-black: #000;
  --color-aqua: #00ffff;
  --color-white: white;
  --color-some: #f7f8fa;
  --color-beige: #f5f5dc;
  --color-pale-blue: #f9fafb;
  --color-light-blue: #646cff;
  --color-soft-blue: #535bf2;
  --color-black-gray: #242424; /*#555d66*/
  --color-desaturated-blue: #64748b;
  --color-very-dark-blue: #0f172a;
  --color-grayish-blue: #e5e7eb;
  --color-dark-desaturated-blue: #4b5563;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-black-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: auto;
  width: auto;
}
body {
  background-color: #f5f6fa;
  color: var(--color-black);
  margin: 0 auto;
  font-size: 16px;
  height: 100%;
  width: auto;
}

a {
  font-weight: 500;
  color: var(--color-light-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-soft-blue);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

button {
  color: var(--color-black);
  cursor: pointer;
}

dialog {
  margin: 1em auto 0;
}

textarea {
  color: var(--color-black);
}

figure {
  font-weight: bold;
  padding: 1em;
}

figcaption {
  font-size: 14px;
  font-weight: normal;
}

ul {
  margin: 0 1em;
}

li {
  list-style: circle;
  list-style-position: inside;
}

nav li {
  list-style: none;
  list-style-position: unset;
}

#app {
  margin: 0 auto;
  width: auto;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
}

.light {
  background-color: var(--color-pale-blue);
  color: var(--color-black-gray);
}

.wrapper {
  background-image: url('/images/bg-pattern.min.svg');
  background-repeat: repeat;
  background-position: 0 center;
  padding: 2em;
  position: relative;
}
.dark {
  background-color: var(--color-black-gray);
  color: var(--color-white);
}
.nav-list {
  margin: 0;
  padding: 0;
  &__item {
    display: inline-block;
    margin: 0 5px;
  }
  &__anchor {
    color: var(--color-beige);
    text-transform: uppercase;
  }
}
.light .nav-list__anchor {
  color: var(--color-black-gray);
}

.dark .nav-list__anchor {
  color: var(--color-white);
}

.theme-toggle {
  background: var(--color-soft-blue);
  color: var(--color-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10.5px;
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
  z-index: 10;
}



@keyframes zoomInOutInfinite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Zoom back out */
  }
}
