:root {
  /* COLORS */
  --color-white: white;
  --color-beige: #f5f5dc;
  --color-pale-blue: #f9fafb;
  --color-light-blue: #646cff;
  --color-soft-blue: #535bf2;
  --color-black-gray: #242424;
  --color-dark-blue: #64748b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  height: 100%;
  width: auto;
}

a {
  font-weight: 500;
  color: var(--color-light-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-soft-blue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

figure {
  font-weight: bold;
}

ul {
  margin: 0 1em;
}

li {
  list-style: circle;
  list-style-position: inside;
}

nav li {
  list-style: none;
  list-style-position: unset;
}

#app {
  margin: 0 auto;
  width: auto;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
}
.light {
  background-color: var(--color-pale-blue);
  color: var(--color-black-gray);
}
.wrapper {
  padding: 2em;
  position: relative;
}
.dark {
  background-color: var(--color-black-gray);
  color: var(--color-white);
}
.nav-list {
  margin: 0;
  padding: 0;
  &__item {
    display: inline-block;
    margin: 0 5px;
  }
  &__anchor {
    color: var(--color-beige);
    text-transform: uppercase;
  }
}
.light .nav-list__anchor {
  color: var(--color-black-gray);
}

.dark .nav-list__anchor {
  color: var(--color-white);
}

.theme-toggle {
  background: var(--color-soft-blue);
  color: var(--color-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10.5px;
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
  z-index: 10;
}
