{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 9", "> 1%", "not ie <= 8", "ie >= 11"]
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/transform-regenerator",
        ["@babel/plugin-transform-react-jsx", {
            "runtime": "automatic"
          }],
        "@babel/transform-runtime"
    ]
}
