//COLORS

//Brand Primary Colors
$cyanGray: #ecefef;
$darkBlue: #0033ad;
$darkGray: #323232;
$grayYellow: #f8f8f5;
$pink: #ffc0cb;
$white: #fff;
$strongRed: #c00;
$vDarkBlue: #1d1e21;
$vDarkGray: #191919;
$vLightGray: #fafafa;
