/* RESET */

body {
  background-color: var(--brand-blue-regal);
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto','Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  display: block;
}


/* BODY */
#root {
  position: relative;
}

.Logo {
  max-width: 125px;
}
