@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-size: 16px;
  
  background-color: #fafafc;
  color: #161617; 
  /* 


  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  line-height: normal;
}